@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-cormorant: "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  
  --color-sand-50: #FAF8F5;
  --color-sand-100: #F4F0E8;
  --color-sand-200: #EADFD1;
  --color-sand-300: #DECEB9;
  
  --color-pine-900: #182A24;
  --color-pine-800: #253D34;
  --color-pine-700: #325045;
  
  --color-gold-400: #CDA877;
  --color-gold-500: #B08B57;
  --color-gold-600: #9C7741;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans bg-sand-100 text-pine-900;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-normal;
  }
}
